@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}



.header {
 
 font-size: 30px;
 height: 60px;
 margin-top: 0px;
 background: #333 ;
 border-bottom: silver 5px;
 line-height: 60px;
 
}

#MenuButtons {
	list-style-type: none;
	style-
	padding-left: 60px;
}
#MenuButtons li {
	float: left;
	padding-left: 60px;
	color: #fff;


}
a:visited {
  color: #fff;
  text-decoration: none;
}
a:link {
  color: #fff;
  text-decoration: none;
}
a:active {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: none;
}

#CurrentPage {
	text-decoration: underline;
}